.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-XY {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center--theme {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

.main {

}

.header {
    height: 67px;
    background-color: rgb(242,242,242);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header--container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 64%;
   height: 67px;
}

#logo a{
    text-decoration: none;
    color: rgb(59, 150, 224);
}

#nav {
    list-style: none;
    display: flex;
}

#nav li {
    
}

#nav li a {
    padding: 0px 10px;
    color: rgb(105,105,105);
}

.slider {
    position: relative;
    margin-top: 67px;
    padding-top: 33.33333%;
    background: url("../img/img_home.jpg") top center / cover no-repeat;
}

.slider .slider--text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider--text .text--heading {
    font-size: 45px;
}

.slider--text .text--description {
    font-size: 24px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content--section{
    margin-top: 52px;
    margin-bottom: 52px;
}

.content--section .section--text {
    text-align: center;
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 52px;
}

.theme--list{
    min-width: 64%;
    display: flex;
}

.content .theme--item {
    width: 33.33333%;
    margin: 0px 1%;
    position: relative;
}

.content .theme--item img {
    width: 150%;
    /* position: relative; */
}

.theme--item .theme--name {
    background-color: #fff;
    color: rgb(37,115,218);
    padding: 12px 32px;
    width: 120px;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 100%;
}

.contact {
    width: 100%;
    background-color: rgb(37,115,218);
    height: 72px;
}

.contact .contact--icon {
    display: flex;
    align-content: center;
    justify-content: space-around;
    line-height: 72px;
}

.icon--social a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

.icon--social a p {
    margin-left: 8px;
}

.footer {
    padding: 52px 272px;
    background-color: rgb(109, 107, 107);
    display: flex;
}

.footer--about {
    display: flex;
    margin-right: 54px ;
}

.footer--about img {
    height: 140px;
    width: 140px;
}

.footer--about .about--content {
    margin-left: 20px;
    color: #fff;
}

.footer--about .about--content h2 {
    font-weight: 500;
}

.footer--about .about--content a {
    text-decoration: underline;
    color: #fff;
}

.footer--subcribe {
    width: 51%;
    color: #fff;
}

.footer--subcribe input {
    width: 100%;
}

.footer--subcribe button {
   margin-top: 10px;
   width: 100%;
   color: #fff;
   background-color: rgb(37,115,218);
   cursor: pointer;
}
